<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anod.appwatcher"
    android:versionCode="4"
    android:versionName="1.0.1" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>

    <!-- for google account token -->
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"></uses-permission>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
	<uses-permission android:name="android.permission.USE_CREDENTIALS"></uses-permission>
	<!-- for dummy account authentificator -->
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"></uses-permission>
	<!-- for sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
	<!-- for device id -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"></uses-permission>
    
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<!-- for checkin Wi-Fi -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".AppWatcherApplication" 
        android:backupAgent=".backup.BackupFileHelperAgent"
       >

        <activity
            android:name=".ChangelogActivity"
            android:label="@string/whats_new_title" 
            android:theme="@style/Theme.Sherlock.Light.Dialog">
        </activity>
                
        <activity
            android:name=".MarketSearchActivity"
            android:label="@string/app_name" 
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        </activity>
        
        <activity
            android:name=".AppWatcherActivity"
            android:label="@string/app_name" 
            android:theme="@style/Theme.Sherlock"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	                      
		<provider
      		android:name=".AppListContentProvider"
      		android:authorities="com.anod.appwatcher"
      		android:syncable="true"
      		android:label="@string/applications"
		>
   		</provider>

		<service android:name=".sync.AuthenticationService" android:exported="true" >
			<intent-filter>
     			<action android:name="android.accounts.AccountAuthenticator" />
   			</intent-filter>
			<meta-data android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/syncauthenticator" />
		</service>
				
		<service android:name=".sync.SyncService" android:exported="true" >
			<intent-filter>
				<action android:name="android.content.SyncAdapter" />
			</intent-filter>
			<meta-data android:name="android.content.SyncAdapter"
				android:resource="@xml/syncadapter" />
		</service>
		
		<meta-data android:name="com.google.android.backup.api_key"
    		android:value="AEdPqrEAAAAIWapJJclZH281aXWN3VunYCHInRkwJag2VkVSIw" />
    </application>

</manifest>